* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: themoon;
    src: url('../media/the-moon/The-Moon.ttf');
}

div {
    padding: 0%, 0%, 0%;
    margin: 0%;
}

#navbar {
    overflow: hidden;
    background-image: linear-gradient(rgb(243, 130, 0), rgb(0, 0, 0));
}

#navbar a {
    font-family: themoon;
    font-size: 150%;
    float: left;
    display: block;
    color: rgba(242, 242, 242, 0.9);
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

.content {
    padding: 2%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 1%;
}

#navbar a:hover {
    background-color: rgba(212, 104, 14, 0.4);
    color: black;
}

#texto {
    padding: 1%;
    font-family: Helvetica;
}

#contenido {
    margin: 3%;
    padding: 1%;
    color: #f2f2f2;
}

#icon {
    margin: 2%;
    width: 80%;
    height: 80%;
}

#contenedor {
    display: table-cell;
    text-align: center;
    width: 40%;
    color: white;
    background-color: rgba(240, 248, 255, 0.2);
    margin: 5%;
    padding: 2%;
}

#twitter{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.gen{
    margin-bottom: 5%;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

h1 {
    padding: 3%;
    font-family: themoon;
    font-size: 500%;
}
h2{
    font-family: themoon;
}

body {
    background-image: url('https://www.darksky.org/wp-content/uploads/2019/03/James-River-State-Park_North.jpg');
}

ul{
    list-style-image: url('../media/logomooncakeicono.png');
}

li{
    font-size: 175%;
    margin: 5%;
}

footer{
    color: rgba(240, 248, 255, 0.7);
    text-align: center;
}